@using Tapa_Buraco.Util;
@{
    var baseController = Html.ViewContext.Controller<Tapa_Buraco.WebSite.Controllers.BaseController>();
}
<input type="hidden" id="hiddenPerfil" value="@baseController.UsuarioAutenticacao.USUARIO.ADMIN"/>                                                                                                                                                                                     
<div class="navbar-header">
    <img src="~/Content/Images/LOGO.jpg" width="165" height="80" />
</div>
<div class="navbar-collapse" id="navbar">
    <ul class="nav nav-pills navbar-left" style="margin: 16px 0 0 10px;">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Solicitação", "Index", "Solicitacao")</li>
        @*<li>@Html.ActionLink("Usuario", "Index", "Usuario")</li>*@
        @if (baseController != null)
        {
            if (baseController.isLogged)
            {
                if (@baseController.UsuarioAutenticacao.USUARIO.ADMIN == 0)
                {
                    <li>@Html.ActionLink("Meu Perfil", "Cadastro/" + @baseController.UsuarioAutenticacao.USUARIO.ID.ToString(), "Usuario")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Usuario", "Index", "Usuario")</li>

                }
            }
        }

        @if (baseController != null)
        {
            if (baseController.isLogged)
            {
                @*< Colocar quais telas o usuário poderá acessar aqui >*@
            }
        }
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li style="margin-right:10px;color: #999c9e;font-weight:bold;">
            <div style="display:flex; flex-direction: column">
                <div>
                    Usuário:
                    <span id="loggedUser">
                        @if (baseController != null)
                        {
                            if (baseController.isLogged)
                            {
                                @baseController.UsuarioAutenticacao.USUARIO.NOME.ToString();
                            }
                        }
                    </span>
                </div>
                <div>
                    Perfil:
                    <span id="loggedUser">
                        @if (baseController != null)
                        {
                            if (baseController.isLogged)
                            {
                                @baseController.UsuarioAutenticacao.USUARIO.ADMIN_STRING.ToString();
                            }
                        }
                    </span>
                </div>
            </div>
        </li>
        <li>
            <a href='@Url.Action("Index", "Login")'>
                <i class="fa fa-sign-out" id="buttonLogOut"></i> Sair
            </a>
        </li>
    </ul>
</div>

